<%# er %>
<%# pe %>
<div class="navbar">
    <div class="header-logo">
        <%= image_tag 'Logo.svg', alt: 'Logo' %>
    </div>

    <div class="navbar-links">
        <div class="btn" id="btn-flow">
            <%= link_to "Flow", "#flow", class: "btn-text" %>
        </div>
    
        <div class="btn" id="btn-menu">
            <%= link_to "Menu", "#menu", class: "btn-text" %>
        </div>

        <div class="btn" id="btn-location">
            <%= link_to "Location", "#location", class: "btn-text" %>
        </div>
    </div>
</div>

<div class="content">
    <div class="about">
        <div class="dach-body"></div>
        <%=image_tag  'duck.svg', alt: 'Duck', class: 'icon-duck' %>
        <div class="about-content">
            <h1 class="title">OniDon</h1>
            <h3 class="subtitle">For dogs with style that goes on and on! </h3>
            <p>We're a cozy little pet salon with a big heart, dedicated to making your furry best friends look and feel amazing.</p>
            <p>From bubbly baths to fresh haircuts and belly rubs in between, we make grooming a fun and stress-free experience. </p>
            <%= image_tag 'long-body.svg', alt: 'Long body dachshund bg', class: 'img-long-dach' %>
        </div>
    </div>

    <%# Flow Section %>
    <div id="flow">
        <h1 class="section-title">Flow</h1>
        <div class="flow-container">
            <%# Align left %>
            <div class="flow-item-l">
                <div class="flow-img-container">
                    <h1 class="order-number _one_two">01</h1>
                    <div class="flow-img"></div>
                    <h3>Health Check</h3>
                    <p>Basic physical check for skin, coat, eyes, ears, etc.</p>
                </div>
                <div class="flow-img-container">
                    <h1 class="order-number _one_two">02</h1>
                    <div class="flow-img"></div>
                    <h3>Nail Trimming</h3>
                    <p>Clipping the dog’s nails for comfort and health.</p>
                </div>
            </div>
            <%# Align right %>
            <div class="flow-item-r">
                <div class="flow-img-container">
                    <h1 class="order-number _three_four">03</h1>
                    <div class="flow-img"></div>
                    <h3>Paw Pad Clipping</h3>
                    <p>Trimming hair around the paw pads.</p>
                </div>
                <div class="flow-img-container">
                    <h1 class="order-number _three_four">04</h1>
                    <div class="flow-img"></div>
                    <h3>Ear Cleaning</h3>
                    <p>Removing dirt or wax from the ears.</p>
                </div>
            </div>
        </div>
    </div>
    <div id="menu"><h1 class="section-title">Menu</h1></div>
    <div id="location"><h1 class="section-title">Location</h1></div>
</div>